body {
}

.app-container {
  background: orange;
  width: 60vw;
  max-width: 400px;
  height: 80%;
  padding-top: 20px;
}

.app-result {
  background: white;
  width: 90%;
  height: 10%;
  margin: auto;
  margin-top: 20px;
  text-align: right;
  padding: 12px;
  border-radius: 8px;
}

.operations-container {
  display: flex;
  justify-content: space-around;
}
.operations {
  display: inline-block;
  background: white;
  width: 12%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  font-size: large;
  border-radius: 8px;
}

.number-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8px;
}
.number {
  background: white;
  width: 20%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  font-size: large;
  border-radius: 8px;
}

.equals-container {
  display: flex;
  justify-content: center;
}
